		<ul>
			<li><%= link_to parent_comment.content, comment_url(parent_comment) %></li>
			<div>
				<%= parent_comment.author.username %>
				<%= parent_comment.created_at %>
			</div>
			<% @all_comments.each do |comment| %>
				<% next unless parent_comment.id == comment.parent_comment_id %>
				<%= render 'comments/comment', parent_comment: comment %>
			<% end %>
		</ul>
